{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}
{% block head %}
    <style>
        .a {
            color: orange;
        }
    </style>


{% endblock %}
{% block body %}
    <h1>Recipe index</h1>
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card-deck">
        {% for recipe in recipes %}
            <div class="card text-white bg-dark">
                <img class="card-img-top" src="{{ asset('img/recept.png') }}" alt="Recepten">
                <div class="card-body">
                    <h5 class="card-title">Recept: {{ recipe.name }}</h5>
                    <p class="card-text">Beschrijving: {{ recipe.description }}</p>
                    {% for a in recipe.ingredient %}
                        <p class="card-text">Ingredient: {{ a.name }}</p>
                    {% else %}
                        <p class="card-text">No ingredients found</p>
                    {% endfor %}
                    <p class="card-text"><a href="{{ path('recipe_show', {'id': recipe.id}) }}">show</a>
                        <a href="{{ path('recipe_edit', {'id': recipe.id}) }}">edit</a>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        {% endfor %}
    </div>
    <a style="color: white" href="{{ path('recipe_new') }}">Create new</a>
{% endblock %}
